<form method="POST" action="/order/">
  <h2>Shipping Information</h2>
  <label for="shipping-name">Name</label>
  <input name="shippingName" id="shipping-name">
  <label for="shipping-address">Address</label>
  <input name="shippingAddress" id="shipping-address">
  <label for="shipping-city">City</label>
  <input name="shippingCity" id="shipping-city">
  <label for="shipping-state">State</label>
  <input name="shippingState" id="shipping-state">
  <label for="shipping-zip">Zip Code</label>
  <input name="shippingZip" id="shipping-zip">
  <label for="shipping-country">Country</label>
  <input name="shippingCountry" id="shipping-country">
  <label for="shipping-phone">Phone</label>
  <input name="shippingPhone" id="shipping-phone">

  <hr/>
   
  <h2>Billing Information</h2>
  <label for="billing-name">Name</label>
  <input name="billingName" id="billing-name">
  <label for="billing-address">Address</label>
  <input name="billingAddress" id="billing-address">
  <label for="billing-city">City</label>
  <input name="billingCity" id="billing-city">
  <label for="billing-state">State</label>
  <input name="billingState" id="billing-state">
  <label for="billing-zip">Zip Code</label>
  <input name="billingZip" id="billing-zip">
  <label for="billing-country">Country</label>
  <input name="billingCountry" id="billing-country">
  <label for="billing-phone">Phone</label>
  <input name="billingPhone" id="billing-phone">

  <hr/>

  <h2>Credit Card Information</h2>
  <label for="credit-card-num">Credit Card Num</label>
  <input name="ccNum" id="create-card-num">
   
  <input type="submit" value="Submit">
</form>

<p>Back to <a href="/cart">Shopping Cart</a></p>
