<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">View Past Orders</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <td><a href="/orders/{{orderId}}">{{orderId}}</a></td>
            <td>{{orderDate}}</td>
            <td>{{orderTotal}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

