<form method="POST" action="/signup">
  <label for="firstName">First Name</label>
  <input name="firstName" id="firstName">
  <label for="lastName">Last Name</label>
  <input name="lastName" id="lastName">
  <label for="email">Email</label>
  <input name="email" id="email">
  <label for="pwd">Password</label>
  <input name="pwd" id="pwd">
  <input type="submit" value="Submit">
</form>

<p>Back to <a href="/login">Login</a></p>
