<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Order successful!</h2>
      <a class="btn btn-default" href="/products">Return to Products</a>
    </div>
  </div>
</div>
